h2 
{
    font: normal 34px arial;
    border-bottom: solid 2px blue;
}

.main_style 
{
    border-bottom-color: red;
}

table
{
    width: 1000px; 
    border-collapse: collapse;
}

table th, table td 
{
    border: 1px solid; 
    padding: 5px;
}

.table2 th
{
    background-color: rgb(241,241,241);
}

.col1 
{
    width: 100px;
}

.col3 
{
    width: 240px;
}