<h1>MySQL Query</h1>
<form name="test" method="post" action="mysql.php" class="span8">
  <h3>Mysql Query</h3>
  <textarea class="span8" name="mysql_query" cols="400" rows="5"></textarea>
  <input class="span2 btn" type="submit">
</form>
<div class="clear"></div>
<h3 class="span8">BD Answer</h3>
<div class="bd_answer span8">
  {foreach from=$result item=item}
     <p>{$item.title}</p>
  {/foreach}
  
  {section name=resultName loop=$result}
    {section name=resultName2 loop=$resultName}
      $resultName[resultName2]}<br />
    {/section}
  {/section}
</div>