*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

body
{
    background: url(../images/background_body.png);
} 

.wrap
{
    background: white;
    width: 1003px;
    margin: 51px auto;
    box-shadow: 0 0px 2px #cccccc;
    position: relative;
}

.wrap_top_line
{
    background: #f2ac04;
    width: 100%;
    height: 7px;
    border-bottom: solid 1px #f3b113;
    position: absolute;
    top: -2px;
}

/*header*/

.header
{
    height: 138px;
}

.big_logo
{
    width: 280px;
    height: 100%;
    float: left;
    background: url(../images/big_logo.png) 35px 48px no-repeat;
}

.company_slogan
{
    height: 52px;
    margin-top: 48px;
    padding-left: 28px;
    border-left: solid 1px #cac8c5;
    float: left;
}

.company_slogan h1
{
    font: normal 20px arial;
    color: #f2ac04;
    text-transform: uppercase;
    padding-top: 6px;
}

.company_slogan p
{
    font: normal 14px Tahoma;
    color: #929292;
    text-transform: lowercase;
    padding-top: 4px;
    padding-left: 1px;
}

/*navigation*/

.navigation
{
    width: 928px;
    height: 42px;
    margin-left: 40px;
    border-top: solid 1px #ababab;
    border-bottom: solid 1px #ababab;
}

.nav_top
{
    padding-top: 11px;
    padding-left: 70px;
    font: normal 18px arial;
    text-transform: uppercase;
}

.nav_top a
{
    text-decoration: none;
    color: #6b6b6b;
    margin-right: 75px;
}

a.link_news
{
    margin-right: 80px;
}

a.link_contact
{
    margin-right: 0;
}

a:hover
{
    text-decoration: underline;
    color: black;
}

/*main_baners*/

.main_baners
{

}

.slider_featured_product
{
    width: 452px;
    margin-left: 41px;
    float: left;
}

.slider_featured_product h2
{
    font: normal 12px tahoma;
    text-transform: uppercase;
    color: #555656;
    padding-top: 36px;
    padding-left: 1px;
}

.slider_featured_product .slider
{
    margin-top: 9px;
    height: 301px;
    border: solid 1px #b0b0b0;
}

.slider_featured_product .slider_body
{
    height: 297px;
    margin: 1px;
    border: solid 1px #d4d4d4;
    position: relative;
}

.slider_featured_product  img
{
    width: 100%;
    max-height: 100%;
}

.slider_featured_product .nav
{
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    height: 48px;
}

.slider_featured_product .nav_prev, .slider_featured_product .nav_next 
{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 14px;
}

.slider_featured_product .nav_prev
{
    background: url(../images/slider_featured_product/nav_prev.png);
    left: 23px;
}

.slider_featured_product .nav_next
{
    background: url(../images/slider_featured_product/nav_next.png);
    right: 21px;
}

.slider_featured_product .title_img
{
    font: normal 18px tahoma;
    color: #555656;
    padding-left: 84px;
    padding-top: 14px;
}

/*slider_featured_product*/

.slider_featured_product
{

}

/*preview_release_available*/

.preview_release_available
{

}

/*information_block*/

.information_block
{

}

/*preview_latest_news*/

.preview_latest_news
{

}

/*preview_article*/

.preview_article
{

}

/*contact_us*/

.contact_us 
{
    width: 321px;
    height: 283px;
    margin: 20px 30px;
    padding-left: 43px;
    border-left: solid 1px #e5e5e5;
}

.contact_us h2
{
    padding-left: 8px;
    font: 23px Arial;
    padding-bottom: 11px;
    color: #565656;
}

.contact_us ul
{
    list-style:none;
}

.contact_us li
{
    font: normal 14px Tahoma;
    border-bottom: dashed 1px #cccccc;
    width: 185px;
    padding: 14px 0 12px 53px;
    line-height: 17px;
    letter-spacing: 1.3px;
}

li.phone_number,
li.fax_number
{
    font-weight: bold;
    letter-spacing: normal;
}

li.company_name,
li.address
{
    border: none;
}

.phone_number
{
    padding-top: 16px;
    background: url(../images/ico_phone.png) 14px 12px no-repeat;
}

.fax_number
{
    background: url(../images/ico_fax.png) 9px 9px no-repeat;
}

.email
{
    background: url(../images/ico_mail.png) 8px center no-repeat;
}

li.company_name
{
    background: url(../images/ico_address.png) 6px 7px no-repeat;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 9px;
    line-height: 19px;
}

li.address
{
    padding-top: 0;
    line-height: 22px;
}

/*our_clients*/

.our_clients
{

}

/*footer*/

.footer
{

}